// Second Section Homepage - Operation
#container--functioning{
    margin: 0 2rem 6rem 2rem;
}

// Third Section Homepage - Restaurants
#container--restaurants{
    padding: 0 1rem;
}

// Footer Homepage 
#container--footer{
    background-color: $color-footer;
    color: white;
}

// Container Menus Restaurants
.container--starter--mainCourse--dessert{
    padding: 0 1rem 1rem;
    background-color: #f6f6f6;
}