// Second Section Homepage - Operation
#containerFunctioning{
    margin: 0 2rem 6rem 2rem;
}

// Third Section Homepage - Restaurants
#containerRestaurants{
    padding: 0 1rem;
}

// Footer Homepage 
.footer{
    background-color: $color-footer;
    color: white;
}

// Container Menus Restaurants
.containerMenu{
    padding: 0 1rem 1rem;
    background-color: #f6f6f6;
}