// Footer Homepage & Restaurants
.footer{
    padding: 0 2rem;;
    p{
        margin: 0;
    }
    &__title{
        padding: 1.5rem 0;
        font-family: 'Shrikhand', sans-serif;
        font-size: 20px;
    }
    &__proposing, &__partner, &__legals{
        padding: 0 0 0.5rem;
        .fa-utensils{
            margin-right: 1rem;
        }
        .fa-hands-helping{
            margin-right: 0.5rem;
        }
    }
    &__contact{
        padding: 0 0 2rem;
        a{
            text-decoration: none;
            color: white;
        }
    }
}