@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: normal;
  src: url("/shrikhand/shrikhand-v6-latin-regular.eot"), url("/shrikhand/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("/shrikhand/shrikhand-v6-latin-regular.woff2") format("woff2") url("/shrikhand/shrikhand-v6-latin-regular.woff") format("woff"), url("/shrikhand/shrikhand-v6-latin-regular.ttf") format("truetype"), url("/shrikhand/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}
body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.btn {
  margin: 2rem 0 4rem 0;
  border-radius: 2rem;
  border: 0;
  color: white;
  padding: 1rem;
  background-image: radial-gradient(ellipse farthest-corner at 60px 6px, #FF79DA 8%, #9356DC 90%);
  box-shadow: 4px 5px 5px #94929265;
}

.section--btn {
  text-align: center;
  background-color: #f6f6f6;
}
.section--btn .btn__Restaurants {
  margin: 1rem 0 3rem 0;
  border-radius: 2rem;
  border: 0;
  color: white;
  padding: 1rem 3rem;
  background-image: radial-gradient(ellipse farthest-corner at 60px 6px, #FF79DA 8%, #9356DC 90%);
  box-shadow: 4px 5px 5px #94929265;
  font-weight: bold;
}

#container--secondSection {
  padding: 0 1rem;
  margin-top: 4rem;
}

#container--thirdSection {
  padding: 0 1rem;
  margin-top: 6rem;
}

#container--footer {
  background-color: #353535;
  color: white;
}

.container--starter--mainCourse--dessert {
  padding: 0 1rem 1rem;
  background-color: #f6f6f6;
}

.footer {
  margin-left: 1.5rem;
}
.footer p {
  margin: 0;
}

.footer__title {
  padding: 1.5rem 0;
  font-family: "Shrikhand";
}

.footer__proposing, .footer__partner, .footer__legals {
  padding: 0 0 0.5rem;
}
.footer__proposing .fa-utensils, .footer__partner .fa-utensils, .footer__legals .fa-utensils {
  margin-right: 1rem;
}
.footer__proposing .fa-hands-helping, .footer__partner .fa-hands-helping, .footer__legals .fa-hands-helping {
  margin-right: 0.5rem;
}

.footer__contact {
  padding: 0 0 2rem;
}
.footer__contact a {
  text-decoration: none;
  color: white;
}

#section--location {
  text-align: center;
  background-color: #f6f6f6;
}
#section--location .section__location {
  background-color: #eaeaea;
  padding: 1rem 0 1rem 0;
  margin-top: 0.2rem;
}
#section--location .fa-map-marker-alt {
  margin-right: 0.5rem;
}
#section--location .section--title--description--btn {
  margin-top: 2rem;
}
#section--location .section__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
#section--location .section__description {
  font-size: 17px;
}

#container--secondSection .secondSection__title {
  font-size: 23px;
  font-weight: bold;
}
#container--secondSection .secondSection--Box {
  display: flex;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 4px #eaeaea;
  cursor: pointer;
}
#container--secondSection .numberBox {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  margin: 0 1.5rem 0 -34px;
}
#container--secondSection .secondSection__text {
  display: flex;
}
#container--secondSection i {
  font-size: 20px;
  color: grey;
}
#container--secondSection .fa-store {
  color: #9356DC;
}
#container--secondSection .boxText {
  margin: 0;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 15px;
}
#container--secondSection .thirdBox {
  background-color: #F5EDFF;
}

#container--thirdSection {
  background-color: #f6f6f6;
}
#container--thirdSection .thirdSection__title {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  padding: 3rem 0 1rem;
}
#container--thirdSection .thirdSection__restaurants {
  padding: 0 0 2rem;
}
#container--thirdSection .menus {
  text-decoration: none;
  color: black;
}
#container--thirdSection .card {
  width: auto;
  background-color: white;
  margin: 0 0 1rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 5px 4px #eaeaea;
}
#container--thirdSection .card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
#container--thirdSection .new {
  color: green;
  background-color: #99E2D0;
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 1rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
#container--thirdSection .presentation {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0;
}
#container--thirdSection .restaurantName {
  margin: 0;
  font-weight: bold;
}
#container--thirdSection .site {
  margin-top: 0.2rem;
}
#container--thirdSection .fa-heart {
  font-size: 25px;
  padding-top: 0.5rem;
}

#container--menu {
  width: auto;
}
#container--menu img {
  width: 100%;
  object-fit: cover;
}
#container--menu p {
  margin: 0;
}
#container--menu .menu--titleRestaurant {
  display: flex;
  margin-top: -45px;
  background-color: #f6f6f6;
  position: relative;
  border-radius: 25px 25px 0 0;
  padding: 2rem 1rem 0;
  justify-content: space-between;
}
#container--menu .menu--titleRestaurant .name {
  font-size: 20px;
}
#container--menu .menu--titleRestaurant .fa-heart {
  padding-right: 2rem;
  font-size: 19px;
}
#container--menu .starterRestaurants {
  padding: 2rem 0 1rem;
}
#container--menu .starterRestaurants .starter {
  border-bottom: 3px solid #99E2D0;
  width: 2.6rem;
}
#container--menu .dish {
  background-color: white;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: -2px 5px 3px #eaeaea;
}
#container--menu .dish .dish--title--description--price {
  padding: 0.5rem;
}
#container--menu .dish .dish--title--description--price .dish__title {
  font-weight: bold;
}
#container--menu .dish .dish--title--description--price .dish--description--price {
  display: flex;
  justify-content: space-between;
}
#container--menu .dish .dish--title--description--price .dish--description--price .dish__description {
  font-size: 12px;
}
#container--menu .dish .dish--title--description--price .dish--description--price .dish__price {
  font-size: 14px;
}

.header {
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.header__title {
  width: 12rem;
}

header {
  padding: 1rem;
  text-align: center;
}

.arrow--titleRestaurants a {
  text-decoration: none;
  color: black;
}
.arrow--titleRestaurants a .fa-arrow-left {
  font-size: 1.5rem;
  position: absolute;
  left: 5%;
  top: 3%;
}

/*# sourceMappingURL=style.css.map */
