body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Shrikhand";
  src: url("/shrikhand/shrikhand-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("/shrikhand/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("/shrikhand/shrikhand-v6-latin-regular.woff2") format("woff2") url("/shrikhand/shrikhand-v6-latin-regular.woff") format("woff"), url("/shrikhand/shrikhand-v6-latin-regular.ttf") format("truetype"), url("/shrikhand/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
.btn {
  margin: 2rem 0 4rem 0;
  border-radius: 2rem;
  border: 0;
  color: white;
  padding: 1rem;
  background-image: radial-gradient(ellipse farthest-corner at 60px 6px, #FF79DA 8%, #9356DC 90%);
  box-shadow: 4px 5px 5px #94929265;
  cursor: pointer;
}

.section--btn {
  text-align: center;
  background-color: #f6f6f6;
}
.section--btn .btn__Restaurants {
  margin: 1rem 0 3rem 0;
  border-radius: 2rem;
  border: 0;
  color: white;
  padding: 1rem 3rem;
  background-image: radial-gradient(ellipse farthest-corner at 60px 6px, #FF79DA 8%, #9356DC 90%);
  box-shadow: 4px 5px 5px #94929265;
  font-weight: bold;
  cursor: pointer;
}

#container--functioning {
  margin: 0 2rem 6rem 2rem;
}

#container--restaurants {
  padding: 0 1rem;
}

#container--footer {
  background-color: #353535;
  color: white;
}

.container--starter--mainCourse--dessert {
  padding: 0 1rem 1rem;
  background-color: #f6f6f6;
}

.footer {
  margin-left: 1.5rem;
}
.footer p {
  margin: 0;
}

.footer__title {
  padding: 1.5rem 0;
  font-family: "Shrikhand", sans-serif;
}

.footer__proposing, .footer__partner, .footer__legals {
  padding: 0 0 0.5rem;
}
.footer__proposing .fa-utensils, .footer__partner .fa-utensils, .footer__legals .fa-utensils {
  margin-right: 1rem;
}
.footer__proposing .fa-hands-helping, .footer__partner .fa-hands-helping, .footer__legals .fa-hands-helping {
  margin-right: 0.5rem;
}

.footer__contact {
  padding: 0 0 2rem;
}
.footer__contact a {
  text-decoration: none;
  color: white;
}

#location {
  text-align: center;
  background-color: #f6f6f6;
  margin-bottom: 6rem;
}
#location .location--site {
  background-color: #eaeaea;
  padding: 1rem 0 1rem 0;
  margin-top: 0.2rem;
}
#location .fa-map-marker-alt {
  margin-right: 0.5rem;
}
#location .title--description--btn {
  margin-top: 2rem;
}
#location .section__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
#location .section__description {
  font-size: 17px;
}

#container--functioning .functioning__title {
  font-size: 23px;
  font-weight: bold;
}
#container--functioning .functioning__box {
  display: flex;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 4px #eaeaea;
  cursor: pointer;
  position: relative;
  align-items: center;
}
#container--functioning .functioning__box .number1, #container--functioning .functioning__box .number2, #container--functioning .functioning__box .number3 {
  left: calc(0% - 15px);
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
}
#container--functioning i {
  font-size: 20px;
  color: grey;
}
#container--functioning .fa-store {
  color: #9356DC;
}
#container--functioning .boxText {
  margin: 0;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 15px;
}
#container--functioning .thirdBox {
  background-color: #F5EDFF;
}

#container--restaurants {
  background-color: #f6f6f6;
}
#container--restaurants .restaurants__title {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  padding: 3rem 0 1rem;
}
#container--restaurants .restaurants {
  padding: 0 0 2rem;
}
#container--restaurants .menus {
  text-decoration: none;
  color: black;
}
#container--restaurants .card {
  width: auto;
  background-color: white;
  margin: 0 0 1rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 5px 4px #eaeaea;
}
#container--restaurants .card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
#container--restaurants .new {
  color: green;
  background-color: #99E2D0;
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
#container--restaurants .presentation {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0;
}
#container--restaurants .restaurantName {
  margin: 0;
  font-weight: bold;
}
#container--restaurants .site {
  margin-top: 0.2rem;
}
#container--restaurants .fa-heart {
  font-size: 25px;
  padding-top: 0.5rem;
}

#container--menu {
  width: auto;
}
#container--menu img {
  width: 100%;
  object-fit: cover;
}
#container--menu p {
  margin: 0;
}
#container--menu .menu--titleRestaurant {
  display: flex;
  margin-top: -45px;
  background-color: #f6f6f6;
  position: relative;
  border-radius: 25px 25px 0 0;
  padding: 2rem 1rem 0;
  justify-content: space-between;
}
#container--menu .menu--titleRestaurant .name {
  font-size: 20px;
}
#container--menu .menu--titleRestaurant .fa-heart {
  padding-right: 2rem;
  font-size: 19px;
}
#container--menu .starterRestaurants {
  padding: 2rem 0 1rem;
}
#container--menu .starterRestaurants .starter {
  border-bottom: 3px solid #99E2D0;
  width: 2.6rem;
}
#container--menu .dish {
  background-color: white;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: -2px 5px 3px #eaeaea;
}
#container--menu .dish .dish--title--description--price {
  padding: 0.5rem;
}
#container--menu .dish .dish--title--description--price .dish__title {
  font-weight: bold;
}
#container--menu .dish .dish--title--description--price .dish--description--price {
  display: flex;
  justify-content: space-between;
  width: auto;
}
#container--menu .dish .dish--title--description--price .dish--description--price .dish__description {
  font-size: 12px;
  width: 100%;
}
#container--menu .dish .dish--title--description--price .dish--description--price .dish__price {
  font-size: 14px;
}

@media screen and (min-width: 426px) {
  #container--functioning .functioning__title {
    text-align: center;
    margin-bottom: 3rem;
  }
  #container--functioning .functioning__box {
    justify-content: center;
  }
  #container--functioning .functioning__box .number1, #container--functioning .functioning__box .number2, #container--functioning .functioning__box .number3 {
    left: calc(50% - 15px);
    top: -15%;
  }

  #container--restaurants .restaurants__title {
    text-align: center;
  }
  #container--restaurants .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #container--restaurants .restaurants .menus {
    width: 40%;
    padding: 1rem 1rem;
  }
  #container--restaurants .restaurants .menus .card {
    margin: 0;
  }
  #container--restaurants .restaurants .menus .card .fa-heart {
    position: absolute;
    top: 55%;
    right: 7%;
    color: #FF79DA;
  }
}
@media screen and (min-width: 769px) {
  .functioning--allBox {
    display: flex;
  }
  .functioning--allBox .functioning__box {
    width: 30%;
    margin-right: 2rem;
  }

  #container--restaurants .restaurants .menus .card .fa-heart {
    position: unset;
    color: black;
  }

  #container--menu .menu--titleRestaurant {
    justify-content: center;
  }
  #container--menu .menu--titleRestaurant .fa-heart {
    padding-left: 2rem;
  }
  #container--menu .dishes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #container--menu .dishes .dish {
    width: 30%;
  }
}
@media screen and (min-width: 1025px) {
  #container--restaurants .restaurants__title {
    padding: 3rem 0 3rem;
  }
  #container--restaurants .restaurants .menus {
    width: 20%;
  }
}
.header {
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.header__title {
  width: 12rem;
}

header {
  padding: 1rem;
  text-align: center;
}

.arrow--titleRestaurants a {
  text-decoration: none;
  color: black;
}
.arrow--titleRestaurants a .fa-arrow-left {
  font-size: 1.5rem;
  position: absolute;
  left: 5%;
  top: 3%;
}

/*# sourceMappingURL=style.css.map */
