body, html{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

// All important colors 

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;

// Media Queries 

$width-tablet: 426px; 
$width-laptop: 769px;
$width-desk: 1025px;