// Shrikhand 

@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/shrikhand-regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
  }

// Roboto

@font-face {
     font-family: 'Roboto';
     src: url('../fonts/roboto-regular.ttf') format('truetype'); /* Safari, Android, iOS */
     font-weight: normal;
     font-style: normal;
}